@charset: utf-8;
body{
  font-family:標楷體;
  background:url(img/background.jpg) ;
}

.main-div {
  margin: 40px auto ;
  width:80% ;
  text-align : center ;
}

.CYDM{
   height:110px ;
   width:187px;
}

.left-div {
  float:left ;
  margin: 0 0 ;
  width:190px ;
  text-align : left ;

}

.title-img{
  margin: 20 13;
  height:45px;
  width:162px;
}

.mainText{
  margin: 0 auto auto 25%;
  width:79% ;
  text-align :left ;
}

.text-title{
  height:45px;
  width:187px;
}

.InText {
  margin: 3% auto auto 5%;
  font-size:30px;
}

.top {
  margin: auto auto auto 90% ;
  height:22px;
  width:53px;
}