@charset: utf-8;
body{
  font-family:標楷體;
  background:url(img/background.jpg) ;
  background-size: cover;
}

.main-div {
  margin: 40px auto ;
  width:90% ;
  text-align : center ;
}

.CYDM{
   height:110px ;
   width:187px;
}

.left-div {
  float:left ;
  margin: 0 0 ;
  width:190px ;
  text-align : center ;
  
  
  display: block;
  position: fixed;
  z-index: 999 ;
  
}

.title-img{
  margin: 20 auto ;
  height:45px;
  width:162px;
}

.mainText{
  margin: 0 auto auto 25%;
  width:79% ;
  text-align :left ;
}

.text-title{
  height:45px;
  width:187px;
}

.InText {
  margin: 3% auto auto 5%;
  font-size:30px;
}

.top {
  margin: auto auto auto 90% ;
  height:22px;
  width:53px;
}

.APage{

}

.organizers{
  height:300px;
  width:300px;
}

.introduce-table{
  word-break: break-all;
  font-size:30px;
  width:800px;
  border-collapse: collapse;
}

.photo-td {
  width:300px;
  border-style:groove;
}

.text-td {
  border-style:groove;
}

.GoTo-href {
  text-decoration:none;
  color:#66FF33;
}

.GoTo-href:hover {
  color:#FFFF00;
}

.footer-ul {
  text-align:center;
}

.footer-ul ul li {
  width: 100px;
  display: inline-block;
}

.Botton-href {
  text-decoration:none;
  color:#0033CC;
}

.Botton-href:hover {
  color:#00CC00;
}